/* video  */

video{
    position: relative;
    
  
   top: 0;
   left: 0;
    max-width: 100%;
    height: auto;
    -ms-transform: translateY(-30%);
    -moz-transform:translateY(-30%) ;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
}


.container_video{
position: relative;
}

.main-menu{
    background-color: #1e5897 ;
}

.button{
    color: #1e5897;
  
}

.bg-image{
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: none;
}

.img-thumbnail{
    padding: .5rem;
    border: 2px solid;
    border-radius: 0;
}

 .main-menu a{
  color: #fff;
}

 .main-menu a:hover{
    color: #17338f;
}


 
